{{page-title "About"}}
<h2>Tutorial</h2>
<h3>Data Structures and Algorithms</h3>
<h4 class='contents'>
  <a href='https://www.geeksforgeeks.org/data-structures/?ref=shm'>Data
    Structures</a>
</h4>
<h4 class='contents'>
  <a
    href='https://www.geeksforgeeks.org/fundamentals-of-algorithms/?ref=shm'
  >Algorithms</a>
</h4>

<div class='navigation'>
  <LinkTo @route='home' class='navigation-item'>
    Home
  </LinkTo>
  <LinkTo @route='about' class='navigation-item'>
    About
  </LinkTo>
</div>


{{outlet}}
