

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1 id='body-title'>my checking content</h1>
<h4 id='body-subtitle'>my check content</h4>


{{outlet}}
